    @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(180deg, #8684AA 0%, #C483A1 21.63%, #EB9695 42.31%, #F4A578 63.94%, #FFC5CF 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-size: 1.5rem;
        color: #fff;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    .game-info,
    .status {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .game-info,
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }
    
    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Tilt Warp', sans-serif;
        font-size: 5rem;
        font-weight: bold;
        width: 7.5rem;
        height: 7.5rem;
        background: rgba(255, 255, 255, 0.5);
        border: 0.5rem solid rgba(0, 0, 0, 0.6);
        border-radius: 1.5rem;
    }
    
    @keyframes fadeInOut {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    
    .square.anm-square span {
        animation: fadeInOut 1.5s ease-in-out infinite;
    }
    
    .board-row {
        display: flex;
    }
    
    .blue {
        color: #63B7FF;
    }
    
    .pink {
        color: #FF1DB4;
    }
    
    .yellow {
        color: #FFC107;
    }
    
    .red {
        color: red;
    }
    
    .footer {
        margin-left: auto;
        display: flex;
        margin-right: auto;
        margin-top: 2rem;
    }
    
    .game-board {
        margin-left: auto;
        margin-right: auto;
    }
    
    .btn {
        font-weight: bold;
    }